.nav-section {
  background-color: var(--orange-50);
}

.nav-section nav {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section nav ul {
  list-style: none;
  display: flex;
  column-gap: 30px;
}

.nav-section a {
  font-size: 1rem;
  color: var(--main-text);
}

.nav-section nav ul li a.active {
  color: var(--orange-900);
}

.action {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
