.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1147px;
  padding-block: 80px;
}

.right-side {
  display: flex;
  flex-direction: column;
  max-width: 501px;
}

.right-side h2 {
  color: var(--orange-900);
  margin-bottom: 24px;
}

.right-side p {
  margin-bottom: 24px;
  max-width: 460px;
}

/* 


.left-side p {
  max-width: 472px;
  color: var(--main-text);
  margin-bottom: 32px;
  line-height: 140%;
  letter-spacing: 0.15px;
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  position: inherit;
}

.rectangle {
  background-color: var(--yellow-400);
  width: 430px;
  height: 469px;
  border-radius: 0px 56px;
  position: absolute;
  top: 24px;
  right: 0;
} */
